version: '3.3'

services:
  mysql_db:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: web-app
    ports:
      - 3006:3006
    restart:
      - "unless-stopped"

  phpmyadmin:
    image: phpmyadmin:latest
    ports:
      - 9001:80
    environment:
      - PMA_ARBITRARY=1
    restart:
      - "unless-stopped"
